<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roster{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="icon" href="../static/calendar_icon.ico">
</head>
<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a href="/">Call Roster Generator</a></div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">Tutorial</a></li>
                <li><a href="{{ url_for('create') }}">Create</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/">Contact</a></li>
                <button><a href="/">Sign in</a></button>
                <button><a href="/">Register</a></button>
            </ul>
            </div>
        </div>
    </nav>
    {% if get_flashed_messages() %}
        <header>
            <div class="message"></div>
                {{ get_flashed_messages() | join(" ") }}
            </div>
        </header>
    {% endif %}

    <main class="container py-5 text-center">
        {% block main %}{% endblock %}
    </main>
    
    <footer class="footer">
        <p>Call Roster Generator | Created by FireFerret</p>
    </footer>

</body>
</html>
